@import url('https://googleapis.com');
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui; 
  font-weight: 400; font-style: normal;
}
h1 {
  font-family: verdana; 
  color: yellow;
  -webkit-text-stroke: 1px lightpink;
}
p {
  font-family: "Happy Monkey", system-ui;
}
a { 
  font-family: "Happy Monkey", system-ui;
}
